---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Septiembre 2022 - Enero 2023",
    title: "Analista de sistemas",
    company: "Siscómputo LTDA",
    description:
      "Desarrollador web full-stack con experiencia en el ciclo de vida completo de proyectos. Dominio en el desarrollo de aplicaciones web utilizando IBM Domino Designer, DB2, JavaScript, HTML, CSS y jQuery. Realicé tareas de mantenimiento, implementación de nuevas funcionalidades y resolución de problemas para garantizar el óptimo funcionamiento de los sistemas.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
